@font-face {
  font-family: Quattro;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/iAWriterQuattroS-Regular.woff), url(/assets/fonts/iAWriterQuattroS-Regular.woff);
}

@font-face {
  font-family: Quattro;
  font-style: normal;
  font-weight: bold;
  src: url(/assets/fonts/iAWriterQuattroS-Bold.woff2), url(/assets/fonts/iAWriterQuattroS-Bold.woff);
}

@font-face {
  font-family: Quattro;
  font-style: italic;
  font-weight: normal;
  src: url(/assets/fonts/iAWriterQuattroS-Italic.woff2), url(/assets/fonts/iAWriterQuattroS-Italic.woff);
}

@font-face {
  font-family: Quattro;
  font-style: italic;
  font-weight: bold;
  src: url(/assets/fonts/iAWriterQuattroS-BoldItalic.woff2), url(/assets/fonts/iAWriterQuattroS-BoldItalic.woff);
}

@font-face {
  font-family: Emoji;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/NotoEmoji-Bold.ttf);
}


:root {
  --color-body: #303030;
  --color-body-alt: #ababab;
  --color-interaction: rgb(0, 0, 0);
  --color-bg: #F7F7F7;
  --color-highlight: blue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: rgb(235, 239, 240);
    --color-body-alt: rgb(144, 148, 149);
    --color-bg: #131518;
    --color-highlight: lightblue;
    --color-interaction: white;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-body);
  font-family: "Quattro";
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.emoji {
  font-family: Emoji, sans-serif;
}

.page {
  max-width: 600px;
  margin: 0 auto;
}

a,
a:visited {
  color: var(--color-interaction);
}

h1 {
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
}

#globe-icon {
  text-align: center;
  color: var(--color-highlight);
  font-size: 40px;
}

h2 {
  font-size: 20px;
}

li {
  margin-bottom: 10px;
}

em:before {
  content: '*';
  color: var(--color-body-alt)
}

em:after {
  content: '*';
  color: var(--color-body-alt)
}

ul.files {
  list-style: none;
  border: 1px solid var(--color-body);
  border-radius: 8px;
  padding: 15px 40px;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul.files li {
  margin: 0;
  margin-top: -5px;
}

ul.files li:before {
  content: '📄';
  font-family: Emoji, sans-serif;
  border-bottom: none;
  margin-right: 6px;
}

ul.files a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

footer {
  margin-top: 100px;
  border-top: 1px solid var(--color-body);
  padding-bottom: 1px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer li {
  margin-right: 50px;
}